* {
    text-align: center;
    list-style-position: inside;
}

.font-green {
    color: rgb(38, 190, 165);
}
.font-red {
    color: rgb(248, 11, 11);
}
.font-purple {
    color: rgb(144, 18, 106);
}
.kurslar {
    font-size: 18px;
}